/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f8ff;
    color: #333;
    margin: 0;
    padding: 0;
}

header, footer {
    background-color: #1e90ff;
    color: white;
    text-align: center;
    padding: 20px;
}

h1 {
    font-size: 3em;
}

p {
    font-size: 1.2em;
}

/* Front Page */
#frontPage {
    height: 100vh;
    background-image: url('https://sl.bing.net/kPzFl6gC8s0');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.centered-text {
    text-align: center;
    color: white;
    font-size: 2em;
}

button.btn {
    background-color: #1e90ff;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 1.2em;
    cursor: pointer;
    border-radius: 10px;
    transition: all 0.3s;
    margin: 20px 0;
}

button.btn:hover {
    background-color: #6495ed;
    transform: scale(1.1);
}

/* Hidden Sections */
.hidden {
    display: none;
}

/* Section Styles */
section {
    padding: 40px;
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: #1e90ff;
    font-weight: bold;
    font-size: 1.2em;
}

footer {
    background-color: #1e90ff;
    color: white;
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
